h1 {
    text-align: center;
}

.X {
    color: blue;
}

.O {
    color: red;
}


.current-turn {
    background-color:rgba(153, 255, 153, 0.664);
}

.game-board {
    display: grid;
    width: 40%;
    margin: 0 auto;
    justify-content: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.game-box {
    /*float left so it can be aligned side by side with player info*/
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    aspect-ratio: 1;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    font-size: 4em;
    border: 4px solid black;

}

.game-box:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}


.player-box {
    padding: 10px;
    border-radius: 5px;
}

.player1-box {
    float: left;
    
}

.player2-box {
    float: right;
}

.win-color {
    color: green;
}

.restart-modal {
    margin: 5px;
    margin-left: 20%;
    margin-right: 20%;
}

.restart-content {
    width: 50%;
    margin: auto;
    align-items: center;
    background-color:rgba(153, 223, 255, 0.664);
    padding: 5%;
    border-radius: 20px;
}

.result-content {
    width: 50%;
    margin: auto;
    align-items: center;
    background-color:rgba(214, 179, 255, 0.664);
    padding: 5%;
    border-radius: 20px;
}

.generic-button {
    display: inline;
    float: none;
    width: 20%;
    aspect-ratio: 3;
    border-radius: 10px;
}