.game-board {
    display: grid;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.game-box {
    aspect-ratio: 1;

}